@model IEnumerable<WebAPI.Models.Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table class="table text-center">
        <thead>
            <tr>
                <th>Tên phim</th>
                <th>Phòng</th>
                <th>Giờ chiếu</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ABC</td>
                <td>Phòng 1</td>
                <td>3:00 19/12/2018</td>
                <td>45.000đ</td>
                <td>
                    <input name="quantity" type="number" value="1" style="height:32px!important; width:70px;text-align:center;" />
                </td>
                <td>45.000đ</td>
                <td>
                    <button class="btn btn-danger">X</button>
                </td>
            </tr>
            <tr>
                <td>ABC</td>
                <td>Phòng 1</td>
                <td>5:30 19/12/2018</td>
                <td>55.000đ</td>
                <td>
                    <input name="quantity" type="number" value="2" style="height:32px!important; width:70px;text-align:center;" />
                </td>
                <td>110.000đ</td>
                <td>
                    <button class="btn btn-danger">X</button>
                </td>
            </tr>
            @*<tr style="background:#216ef8; padding:10px; font-size:22px;">
                    <td colspan="5">Tổng tiền</td>
                    <td>110.000đ</td>
                </tr>
                <tr style="background:#fcd603; padding:10px; font-size:22px;">
                    <td colspan="5">Khách trả</td>
                    <td>110.000đ</td>
                </tr>
                <tr style="background:#4cff00;padding:10px; font-size:22px;">
                    <td colspan="5">Hoàn tiền</td>
                    <td>0đ</td>
                </tr>*@
        </tbody>
    </table>

    <div class="d-flex" style="margin: 0 auto; width:308px;">
        <button type="button" class="btn btn-primary" style="width:96px; margin:0 5px;">Mua tiếp</button>
        <button type="button" class="btn btn-success" style="width:96px;margin:0 5px;">Thanh toán</button>
        <button type="button" class="btn btn-pinterest" style="width:96px;margin:0 5px;">Xóa toàn bộ</button>
    </div>
</div>
