@model IEnumerable<WebAPI.Models.Genre_film>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Loại phim</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã loại phim
            </th>
            <th>
                Tên loại phim
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tbody-genre-film">

    </tbody>

</table>
<script type="text/javascript">
    $(document).ready(function () {
        LoadDataGenreFilm();
    })
</script>