@model IEnumerable<WebAPI.Models.Genre_chair>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã loại ghế
            </th>
            <th>
                Tên loại ghế
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody-genre-chair">
        
    </tbody>

</table>
