@model IEnumerable<WebAPI.Models.Film>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Phim</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<div style="width:100%; overflow:auto">
    <table class="table">
        <thead>
            <tr>
                <th style="min-width:300px;">
                    Tên phim
                </th>
                <th style="min-width:200px;">
                    Đạo diễn
                </th>
                <th style="min-width:180px;">
                    Nhà sản xuất
                </th>
                <th style="min-width:150px;">
                    Ngày khởi chiếu
                </th>
                <th style="min-width:200px;">
                    Quốc gia
                </th>
                <th style="min-width:250px;">
                    Diễn viên
                </th>
                <th style="min-width:150px;">
                    Trạng thái
                </th>
                <th style="min-width:150px;">Đổi trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbody-film"></tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        LoadDataFilm();
    })
</script>
