@model IEnumerable<WebAPI.Models.Film>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Phim</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên phim
            </th>
            <th>
                Đạo diễn
            </th>
            <th style="width:300px;">
                Nhà sản xuất
            </th>
            <th>
                Ngày khởi chiếu
            </th>
            <th>
                Quốc gia
            </th>
            <th>
                Đánh giá
            </th>
            <th width="150px">
                Diễn viên
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tbody-film">
        
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        LoadDataFilm();
    })
</script>
